### Python Assignment 1

In [1]:
### 1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
###    between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

for num in range(2000,3201):
    if(num % 7 == 0 and num % 5 !=0):
        print(num, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:
### Alternative solution for the above problem - to remove the comma at end of the final output element above.

final_seq = ''

for num in range(2000,3201):
    if(num % 7 == 0 and num % 5 != 0):
        final_seq += str(num) + ','
        
print(final_seq.rstrip(','))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [3]:
### 2. write a Python program to accept the user's first name and last name and then getting them printed in the reverse order
###    with a space between first name and last name.

first_name = input("Enter your First Name : ")
last_name = input("Enter your Last Name : ")
full_name = first_name + ' ' + last_name
print(full_name[::-1])

Enter your First Name : Ashwin
Enter your Last Name : Krishnan
nanhsirK niwhsA

In [4]:
### Alternative solution:

first_name = input("Enter your First Name : ")
last_name = input("Enter your Last Name : ")
print(last_name[::-1] + ' ' + first_name[::-1])

Enter your First Name : Ashwin
Enter your Last Name : Krishnan
nanhsirK niwhsA

In [5]:
### 3. Write a Python program to find the volume of a sphere with diameter 12 cm.

### Formula : V = (4/3) * Ï€ * r ** 3

from math import pi


## since diameter is 12cm then radius is half of the diameter i.e. 6cm.
radius = 6

volume = (4/3) * pi * radius ** 3

print("The volume of the sphere with radius {} cm is {} cubic.cm ".format(radius,round(volume,2)))

The volume of the sphere with radius 6 cm is 904.78 cubic.cm